$brown: #514a49;
$dwhite: #f5f1ec;
$brown2: #b3775f;

$font1: 'Montserrat', sans-serif;
$font2: 'Trajan', serif;
// $font3: 'Bodoni Moda', serif;
$font3: 'Bodoni MT', serif;

// @import "sass/icomoon";
// @import "sass/margin";
// @import "sass/padding";
@import "sass/buttons";
// @import "sass/trajan";
// @import "sass/bodonimt";

body.rug-single {
    #cart-wrap {
        @media (min-width: 992px) {
            padding-top: 40px;
        }
    }
}

select.form-control {
    appearance: listbox;
}

.bg-lgrey2 {
    background-color: #f5f5f5;
}

.rug-item-image {
    // margin-bottom: 1rem;

    img {
        width: 100%;
        display: block;
        aspect-ratio: 2/2.5;
        object-fit: cover;
    }

    a {
        display: block;
    }
}

.rug-item-desc {
    text-align: center;
    padding: .75rem;
    background-color: #fff;

    @media (min-width: 768px) {
        font-size: .80rem;
    }
}

.search-form-wrap {
    .card {
        border-color: var(--bs-border-color);
        border-radius: 0;
    }

    .form-control {
        @media (min-width: 768px) {
            font-size: .80rem;
        }
    }
}

.accordion-search-filter {
    @media (min-width: 768px) {
        font-size: .80rem;
    }

    .accordion-button {
        padding: 8px 12px;
        border-radius: 0;

        @media (min-width: 768px) {
            font-size: .80rem;
        }

        &:not(.collapsed) {
            background-color: transparent;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .accordion-body {
        padding: 8px 12px;
    }

    .accordion-item {
        &:first-of-type {
            border-radius: 0;

            .accordion-button {
                border-radius: 0;
            }
        }

        &:last-of-type {
            border-radius: 0;

            .accordion-button.collapsed {
                border-radius: 0
            }
        }
    }
}


.radio-colors {
    margin-right: 6px;
    margin-bottom: 6px;
    display: inline-block;

    &.form-check {
        padding-left: 0;
    }

    label {
        border: 1px solid rgba(#000, 0.2);
        display: inline-flex;
        align-items: center;
        padding: 3px;
        cursor: pointer;
    }

    input {
        display: none;

        &:checked+label {
            border: 1px solid #000;
            background-color: rgba(#198754, 0.3);
        }
    }

    i {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        margin-right: 6px;
    }

    span {
        text-transform: uppercase;
    }
}

.country-selector {
    max-height: 300px;
    overflow: auto;
}

.scroll-max {
    max-height: 200px;
    overflow: auto;
}

// quantity 
.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    // padding-left: 10px;
    text-align: center;
    padding-right: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 16px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    user-select: none;

    &:active {
        background-color: darken(#fff, 10%);
    }

    @media (min-width: 1200px) {
        width: 20px;
    }
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

#cart {
    background-color: #fff;
    padding: 1rem;

    @media (max-width: 991px) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -300px;
        z-index: 6000;
        width: 100%;
        max-width: 300px;
        transition: all .25s ease-in-out;
    }
}

#cart-overlay {
    @media (max-width: 991px) {
        background-color: rgba(#000, 0.2);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        display: none;
    }
}

#cart-wrap {
    &.show {
        #cart {
            @media (max-width: 991px) {
                right: 0;
                box-shadow: 0 0 9px rgba(#000, 0.2);
            }
        }

        #cart-overlay {
            display: block;
        }
    }
}

.cart-toggle-wrap {
    position: fixed;
    top: 50%;
    right: 0;
    box-shadow: 0 0 4px rgba(#000, 0.3);
    display: block;
    z-index: 12;

    @media (min-width: 992px) {
        display: none;
    }

    .cart-count {
        padding: 0;
    }
}

.cart-count {
    margin-left: 4px;
}

.cart-items {
    @media (max-width: 991px) {
        max-height: calc(100vh - 124px);
        overflow-y: auto;
        margin-bottom: 1rem;
    }


    .rug-item {
        display: flex;
        margin-bottom: 1rem;

        .rug-item-image {
            max-width: 50%;

            img {
                aspect-ratio: 2/2.5;
                object-fit: cover;
            }
        }

        .rug-item-desc {
            width: 100%;
            max-width: 50%;
            padding: 0 0 0 1rem;

            @media (min-width: 768px) {
                font-size: .80rem;
            }
        }

        .cart-item-remove {
            display: inline-block;
            margin-top: 10px;
            color: red;
        }
    }
}

#preloader {
    width: 100%;
    min-height: 1px;
}

.pagination-wrap {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        .page-num {
            margin-left: 1rem;
        }

        .pagination {
            margin-bottom: 0;
        }
    }
}

.search-params {
    &:empty {
        margin-bottom: 0 !important;
    }

    .badge {
        padding: 6px 12px;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #dc3545 !important;
        }

        .icon {
            font-size: 8px;
            margin-left: 4px;
        }
    }
}