@font-face {
    font-family: 'Bodoni MT';
    src: url('../fonts/bodonimt/BodoniMT-Bold.woff2') format('woff2'),
        url('../fonts/bodonimt/BodoniMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}